<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendance View</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/attendance.css') }}">
</head>
<body>
  <div form action="/attendance/{{ student_id }}" method = "POST"  class="container">
    <header class="header">
      <h1>Attendance View</h1>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>Roll Number</th>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <h3>Attendance Data: {{ attendance | tojson }}</h3>
          {% if attendance %}
          {% for record in attendance %}
              <tr>
                  <td>{{ record.att_id }}</td>
                  <td>{{ record.std_name }}</td>
                  <td>{{ record.login_time }}</td>
                  <td>{{ record.logout_time }}</td>
              </tr>
          {% endfor %}
      {% else %}
          <tr>
              <td colspan="4" class="text-center">No attendance records found.</td>
          </tr>
      {% endif %}
        </tbody>
      </table>
    </main>
  </div>
</body>
</html>

