<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css link -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <div class="form-box">
      <h1 class="head">Register</h1>
      <form action="/register" method="post">
        <div class="form-group">
          <label for="adminssion_no">Admission Number</label>
          <input type="text" id="username" name="admission_no" placeholder="Enter your Admission Number" required>
        </div>
        <div class="form-group">
          <label for="bat_id" class="form-label">Select Batch</label>
          <select class="form-control" id="bat_id" name="bat_id" required>
            <option value="">Select a Batch</option>
            {% for batch in batches %}
            <option value="{{ batch.bat_id }}">{{ batch.bat_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password" required>
        </div>
        <button type="submit" class="btn">Register</button>
      </form>
    </div>
  </div>
</body>
</html>
